{% load static tailwind_tags %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>






<body class="bg-gray-200">
    <section class="min-h-screen flex items-stretch text-white">
        <div class="lg:flex w-full  bg-gray-500 bg-no-repeat bg-cover relative items-center " style="background-image: url(https://images.unsplash.com/photo-1577495508048-b635879837f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);">
            <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
            <div class="w-full px-24 z-10 justify-center ">
                <h1 class="text-5xl font-bold text-left tracking-wide">Keep it special</h1>
                <p class="text-3xl my-4">Capture your personal memory in a unique way, anywhere.</p>
            </div>
            <div class="bottom-0 absolute p-4 text-center right-0 left-0 flex justify-center space-x-4">
                <span>
                    
                </span>
                <span>
                    
                </span>
                <span>
                    
                </span>
            </div>
        </div>
        <div class="lg:w-1/2 w-full flex justify-center items-center md:px-16 px-0 z-0" style="background-color: #202020;">

            <div class=" w-full space-y-8 p-8">
                <h2 class="text-4xl font-bold text-center">Welcome Back!</h2>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <input type="text" class="border rounded px-4 py-2 w-full focus:outline-none focus:border-blue-500" placeholder="Enter your email" name="email">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="border rounded px-4 py-2 w-full focus:outline-none focus:border-blue-500" placeholder="Enter your password" name="password">
                    </div>
                    <div class="mb-6">
                        <input type="submit" class="bg-blue-500 text-white px-2 py-1 rounded mt-4 hover:bg-blue-600 transition duration-300" value="Login">
                    </div>
                    <center>
                        {% if success %}
                        <p style="color: green;"><b>{{ success }}</b></p>
                        {% endif %} {% if error %}
                        <p style="color: red;">{{ error }}</p>
                        {% endif %}
                    </center>
                </form>
                <div class="flex justify-between w-full py-4">
                    <div class="mr-24">
                        <input type="checkbox" name="ch" id="ch" class="mr-2" />
                        <span class="text-md">Remember for 30 days</span>
                    </div>
                    <span class="font-bold text-md">Forgot password</span>
                </div>

                <button class="w-full border border-gray-300 text-md p-2 rounded-lg mb-6 hover:bg-black hover:text-white">
          <img src=""  alt="img" class="w-2 h-3 inline mr-2" />
          Sign in with Google
        </button>
                <div class="text-center text-gray-400">
                    Dont'have an account?
                    <span class="font-bold text-black"><a href="{% url 'register' %}" class="text-blue-900"><label for="check">Sign up for free</label></a></span>
                </div>
            </div>
            <!-- {/* right side */} -->
            <div class="relative">
                <img alt="img" class="w-[400px] h-full hidden rounded-r-2xl md:block object-cover" />
                <!-- text on image  -->
                <div class="absolute hidden bottom-10 right-6 p-6 bg-white bg-opacity-30 backdrop-blur-sm rounded drop-shadow-lg md:block">
                    <span class="text-white text-xl">We've been uesing Untitle to kick"<br />start every new project
            and can't <br />imagine working without it."
          </span>
                </div>
            </div>
        </div>
        </div>
        </div>

    </section>





    <footer class="bg-gray-800 py-4 ">

        <div class="container mx-auto flex items-center justify-between text-gray-400">
            <select class="border bg-gray-800 rounded px-4 py-2  focus:outline-none focus:border-blue-500">
            <option value="country1">India</option>
            <option value="country2">United States</option>
            <option value="country3">Australia</option>
            <!-- Add more countries as needed -->
        </select>


            <select class="border bg-gray-800 rounded px-4 py-2  focus:outline-none focus:border-blue-500">
            <option value="english">English</option>
            <option value="spanish">Spanish</option>
            <option value="french">French</option>
            <!-- Add more languages as needed -->
        </select>
            <div class="mt-0">&copy; 2024 Vchat. All rights reserved.</div>
        </div>

    </footer>










    {% tailwind_css %}
</body>

</html>