{% load static tailwind_tags %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>
    <header class="bg-gray-900 text-white flex items-center justify-between py-4 px-6">
        <!-- Logo -->
        <div class="flex items-center">
            <img src="" alt="Logo" class="h-8 mr-2">
            <h1 class="text-lg font-semibold">Vchat</h1>
        </div>

        <!-- Navigation -->
        <nav class="flex items-right">
            <ul class="flex space-x-6">

                <li><a href="#" class="hover:text-gray-300">Services</a></li>
                <li><a href="#" class="hover:text-gray-300">Contact</a></li>
            </ul>
        </nav>


    </header>
    <div class="container">
        <div class="registration form">
            <header>Signup</header>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Enter your first name" name="first_name">
                <input type="text" placeholder="Enter your last name" name="last_name">
                <input type="text" placeholder="Enter your email" name="email">
                <input type="password" placeholder="Create a password" name="password1">
                <input type="password" placeholder="Confirm your password" name="password2">
                <input type="submit" class="button" value="Signup">
                <center>
                    {% if error %}
                    <p style="color: red;">{{ error }}</p>
                    {% endif %}
                </center>

            </form>
            <div class="signup">
                <span class="signup">Already have an account?
          <a href="{% url 'login' %}"><label for="check">Signin</label></a>
        </span>
            </div>
        </div>
    </div>
    {% tailwind_css %}
</body>

</html>