{% load static tailwind_tags %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>
    <header class="bg-gray-900 text-white flex items-center justify-between py-4 px-6">
        <!-- Logo -->
        <div class="flex items-center">
            <img src="" alt="Logo" class="h-8 mr-2">
            <h1 class="text-lg font-semibold text-blue-700">Vchat</h1>
        </div>

        <!-- Navigation -->
        <nav class="flex items-right">
            <ul class="flex space-x-6">

                <li><a href="#" class="hover:text-gray-300">Services</a></li>
                <li><a href="#" class="hover:text-gray-300">Contact</a></li>
            </ul>
        </nav>


    </header>
    <div class="flex h-screen bg-gradient-to-r from-stone-400 to-zinc-600 justify-center ">

        <div class="max-w-md w-full space-y-8">
            <div class="mt-6 text-center text-3xl font-semibold text-gray-900">
                <h2 class="text-5xl font-bold mb-4">Register</h2>

                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <input type="text" class="border rounded px-4 py-2 w-full focus:outline-none focus:border-blue-500" placeholder="Enter your first name" name="first_name">
                    </div>
                    <div class="mb-4">
                        <input type="text" class="border rounded px-4 py-2 w-full focus:outline-none focus:border-blue-500" placeholder="Enter your last name" name="last_name">
                    </div>
                    <div class="mb-4">
                        <input type="text" class="border rounded px-4 py-2 w-full focus:outline-none focus:border-blue-500" placeholder="Enter your email" name="email">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="border rounded px-4 py-2 w-full focus:outline-none focus:border-blue-500" placeholder="Create a password" name="password1">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="border rounded px-4 py-2 w-full focus:outline-none focus:border-blue-500" placeholder="Confirm your password" name="password2">
                    </div>
                    <div class="flex text-sm items-center mt-4 mb-4">
                        <input type="checkbox" id="agree" name="agree" class="mr-2">
                        <label for="agree" class="  text-gray-700">I agree to the <a href="#" class="text-blue-900">terms and conditions</a>.</label>
                    </div>
                    <div class="mb-4">
                        <input type="submit" class="bg-blue-500 text-white px-2 py-1 rounded mt-4 hover:bg-blue-600 transition duration-300" class="button" value="Signup">
                    </div>
                    <center>
                        {% if error %}
                        <p style="color: red;">{{ error }}</p>
                        {% endif %}
                    </center>
                </form>
                <div class="signup mt-4 text-xl">
                    <span class="signup">Already have an account?<a href="{% url 'login' %}" class="text-blue-900"><label for="check">Signin</label></a></span>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-gray-800 py-4 ">

        <div class="container mx-auto flex items-center justify-between text-gray-400">
            <select class="border bg-gray-800 rounded px-4 py-2  focus:outline-none focus:border-blue-500">
            <option value="country1">India</option>
            <option value="country2">United States</option>
            <option value="country3">Australia</option>
            <!-- Add more countries as needed -->
        </select>


            <select class="border bg-gray-800 rounded px-4 py-2  focus:outline-none focus:border-blue-500">
            <option value="english">English</option>
            <option value="spanish">Spanish</option>
            <option value="french">French</option>
            <!-- Add more languages as needed -->
        </select>
            <div class="mt-0">&copy; 2024 Vchat. All rights reserved.</div>
        </div>
    </footer>
    {% tailwind_css %}
</body>

</html>