{% load static tailwind_tags %}

<!DOCTYPE html>



<html>

<head>
    <header class="bg-gray-900 text-white flex items-center justify-between py-4 px-6">
        <!-- Logo -->
        <div class="flex items-center">
            <img src="https://img.freepik.com/free-psd/3d-circle-with-vimeo-logo-isolated-transparent-background_125540-3734.jpg?t=st=1718780291~exp=1718783891~hmac=bda798db48a764b20f76eb053971a347221002f32f86f3e0523ac25f980f1eb2&w=740" alt="Logo" class="h-8 mr-2">
            <script src="https://cdn.tailwindcss.com"></script> {% tailwind_css %}
            <h1 class="text-lg font-semibold text-blue-700">Vchat</h1>
        </div>

        <!-- Navigation -->
        <nav class="flex items-right">
            <ul class="flex space-x-6">

            </ul>

        </nav>
        <select class="border bg-gray-800 rounded px-4 py-2  focus:outline-none focus:border-blue-500">
            <option value="More">My Profile</option>
            <option value="">Features</option>
            <option value="">Your Impact</option>
            <option value="">Working</option>
            <option value="">video call</option>
            <option value="">audio call</option>
            <option value="">Support center</option>
            <!-- Add more languages as needed -->
        </select>


    </header>
</head>

<body>


    <div class="relative h-screen bg-gray-800 flex flex-col">

        <!-- Video Container -->
        <div id="video-container" class="flex-grow flex justify-items-stretch place-items-stretch">

            <div class="grid grid-cols-2 gap-4">
                <!-- Username Container -->
                <div id="username-container" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-transparent p-8 hidden">
                    <div class="flex flex-col items-center">
                        <h3 class="text-2xl font-semibold mb-4 text-lg text-white" id="label_username">USERNAME</h3>
                        <input id="username-input" class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:border-blue-500 bg-white text-gray-800 mb-4">
                        <button id="btn-join" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-r-md">Join Room</button>
                    </div>
                </div>
                <div class="relative overflow-hidden rounded-lg shadow-lg" style="width: 540px; height: 360px;">
                    <video id="local-video" class="w-full h-full object-cover" autoplay playsinline></video>
                </div>
                <div class="relative overflow-hidden rounded-lg shadow-lg" style="width: 540px; height: 360px;">
                    <video id="remote-video" class="w-full h-full object-cover" autoplay playsinline></video>
                </div>
                <!-- Add more video elements as needed -->
            </div>
        </div>



        <!-- Chat Container -->
        <div id="chat" class="w-1/3 absolute top-0 right-0 m-4 z-10 bg-gray-800 bg-transparent rounded-lg shadow-md">
            <h3 class="text-lg font-semibold text-white p-4">CHAT</h3>
            <div id="messages" class="p-4">
                <ul id="message-list"></ul>
            </div>

            <div class="flex">
                <input id="msg" type="text" class="flex-1 border border-gray-300 rounded-l-md px-4 py-2 focus:outline-none focus:border-blue-500 bg-gray-700 text-white" placeholder="Type your message...">
                <button id="btn-send-msg" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-r-md">Send</button>
            </div>
        </div>

        <!-- Audio and Video Controls -->
        <div class="absolute bottom-0 left-0 right-0 flex justify-center mb-4">
            <button id="btn-toggle-audio" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2">Audio Mute</button>
            <button id="btn-toggle-video" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded ml-2">Video Off</button>
        </div>
    </div>
    </div>



















    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% tailwind_css %}
</body>

</html>